body {
  
  /* background-color: #542a0e; */
  color: white;
  font-family: 'Suez One', serif;
}

.cardsArea {
  display: inline-flex;
  width:60%;
  /* background-color: #542a0e; */
}

.playerplace {
  border-style: dotted;
  border-radius: 10px;
  border-width: 1px;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  height: 30.5vh;
  margin: 4px;
  padding:4px;
  /* background-color: grey; */
}

.container-fluid {
  height: 98vh;
  min-width: 962px;
  min-height: 466px;

}

.dealer {
  width:20%;
  /* background-color: #542a0e; */
}

.table-area{
  background-color: #0d9461;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #c1ba23;
  border-radius: 10px;
}

.cardPlaceholder {
  border: 2px;
  /* border-color: #542a0e; */
  width: 70px;
  z-index: 1000;
  border-style: dashed;
  padding: 3px;
}

.wrap {
  width: 400px;
  height: 400px;
  background-color: rgb(118, 101, 130);
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  display: inline-block;
}

.card {
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 60px;
  padding: 0px;
  margin: 4px;
}

.dealer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed {
  transition-duration: 500ms;
  width: 40%;
  min-width: 60px;
}


.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}
.otherPlayerCards {
  animation-duration: 2000ms;
}

.otherPlayerCard-0 {
  width: 60px;
  position: absolute;
  z-index: 10;
  margin: 5px;
  transform: translateX(90px) translateY(-70px);
}
.otherPlayerCard-1 {
  width: 60px;
  position: absolute;
  z-index: 11;
  margin: 5px;
  transform: translateX(110px) translateY(-50px);
  
}

.otherPlayerCard-0.entered{
  transition-duration: 1500ms;
  transform:  translateX(90px) translateY(-70px) rotate(360deg);
}

.otherPlayerCard-1.entered {
  transform:  translateX(110px) translateY(-50px) rotate(360deg);
  transition-duration: 1500ms;

}

.entering {
  transform: translateX(180px) translateY(-180px);
  transition-duration: 500ms;
}

.card .on-table {
  
  width: 80px;
  z-index: 1;
  top: 0px;
  margin-right: 1px;
}

/* .card:hover{
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(0px, -10px);
  box-shadow: 0px 0px 5px 1px black;
} */

/* .rangeforrace {

  position: relative;
  z-index: 100;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  height: 20px;
  

} */
input[type=range] {
  width: 100%;
  margin: 8.25px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #0d9461;
  border: 1.8px solid #000101;
  border-radius: 25px;
  width: 100%;
  height: 8.5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10.05px;
  width: 36px;
  height: 25px;
  background: rgba(255, 168, 62, 0.93);
  border: 2.3px solid #000000;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4c9333;
}
input[type=range]::-moz-range-track {
  background: #42802c;
  border: 1.8px solid #000101;
  border-radius: 25px;
  width: 100%;
  height: 8.5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 36px;
  height: 25px;
  background: rgba(255, 168, 62, 0.93);
  border: 2.3px solid #000000;
  border-radius: 28px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.05px 0;
  color: transparent;
  width: 100%;
  height: 8.5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #386d25;
  border: 1.8px solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #42802c;
  border: 1.8px solid #000101;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 36px;
  height: 25px;
  background: rgba(255, 168, 62, 0.93);
  border: 2.3px solid #000000;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #42802c;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4c9333;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
